@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../../fonts/HelveticaNeueCyr-Thin.woff2') format('woff2'),
	url('../../fonts/HelveticaNeueCyr-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../../fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),
	url('../../fonts/HelveticaNeueCyr-Roman.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Nicoletta script';
	src: url('../../fonts/Nicolettascript.woff2') format('woff2'),
	url('../../fonts/Nicolettascript.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Didot';
	src: url('../../fonts/Didot-Bold.woff2') format('woff2'),
	url('../../fonts/Didot-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
