@use '../vars/vars' as v;

.container {
	width: 100%;
	max-width: v.$container-width + (v.$container-padding-sm * 2);
	padding: 0 v.$container-padding-sm;
	margin: 0 auto;

	@media (min-width: v.$lg) {
		padding: 0 v.$container-padding-xl;
		max-width: v.$container-width + (v.$container-padding-xl * 2);
	}
}
