@use '../vars/vars' as v;
@use '../mixins/mixins' as m;
@use '../utils/placeholders/placeholders' as *;

h1, .h1, h2, .h2 {
	@extend %title
}

h1, .h1 {
	font-size: 38px;
	font-style: normal;
	line-height: normal;

	@include m.media(md) {
		font-size: 70px
	}
}

h2,
.h2 {
	font-size: 24px;

	@include m.media(md) {
		font-size: 40px;
	}
}

a {
	display: inline-block;
	text-decoration: none;
	transition: opacity ease v.$tr;

	&:hover {
		opacity: v.$op;
	}
}

p {
	margin: 0;
	padding: 0;
}

b,
strong {
	font-weight: v.$fw-bold
}