@use '../../../../../scss/vars/vars' as v;
@use '../../../../../scss/mixins/text' as t;

.food {
	padding: 25px 0;

	@media(min-width: v.$md) {
		padding: 50px 0;
	}

	&-wrapper {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 40px;

		@media(min-width: v.$md) {
			gap: 55px;
		}
	}

	&-top {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 20px;

		@media(min-width: v.$lg) {
			flex-direction: row;
			justify-content: space-between;
		}

		&-left, &-right {
			width: 100%;

			@media(min-width: v.$md) {
				max-width: 560px;
			}
		}
	}

	&-bottom {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 25px;

		@media(min-width: v.$sm) {
			flex-direction: row;
			gap: 30px;
		}
	}

	&-card {
		width: 100%;
		display: flex;
		flex-direction: column;

		@media(min-width: v.$sm) {
			width: calc(50% - 15px);
		}

		.card-image {
			width: 100%;

			img {
				border-radius: 8px;
			}
		}

		.card-info {
			display: flex;
			flex-direction: column;
			align-items: flex-start;

			h3 {
				margin-bottom: 15px;
				@include t.accentText(sm);
			}

			a {
				width: 100%;
				margin-top: 25px;

				@media(min-width: v.$sm) {
					width: auto;
				}

				@media(min-width: v.$md) {
					margin-top: 30px;
				}
			}
		}
	}
}