@use '../../../../../scss/vars/vars.scss' as v;
@use '../../../../../scss/mixins/text' as t;

.items {
	padding: 25px 0;

	@media(min-width: v.$md) {
		padding: 50px 0;
	}

	&-wrapper {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		gap: 25px;

		@media(min-width: v.$md) {
			flex-direction: row;
			gap: 30px;
		}

		.items-card {
			background-color: #F8F3ED;
			width: 100%;
			border-radius: 15px;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 20px;
			padding: 18px 19px 20px 21px;

			@media(min-width: v.$md) {
				width: calc(100% / 3);
				gap: 13px;
				padding: 24px 30px 30px 28px;
			}

			img {
				width: 41px;
				height: 41px;

				@media(min-width: v.$md) {
					width: 43px;
					height: 43px;
				}
			}

			p {
				@include t.text;
			}
		}
	}
}