@use '../vars/vars' as v;

@mixin accentText() {
	font-family: v.$ff-add;
	font-size: 39px;
	font-weight: v.$fw-regular;
	line-height: 27px;
	color: v.$accent;

	@media(min-width: v.$md) {
		font-size: 55px;
		line-height: 46px;
	}
}

@mixin text() {
	font-family: v.$ff;
	font-size: 14px;
	font-weight: v.$fw-light;
	line-height: v.$lh;
	color: v.$black;

	@media(min-width: v.$md) {
		font-size: 16px;
	}
}