@use '../vars/vars' as v;

@mixin accentText($size: null) {
	font-family: v.$ff-add;
	font-weight: v.$fw-regular;
	color: v.$accent;
	text-align: right;

	@if $size == sm {
		font-size: 37px;
		line-height: 27px;

		@media (min-width: v.$md) {
			font-size: 47px;
			line-height: 40px;
		}
	} @else {
		font-size: 39px;
		line-height: 27px;

		@media (min-width: v.$md) {
			font-size: 55px;
			line-height: 46px;
		}
	}
}


@mixin text() {
	font-family: v.$ff;
	font-size: 14px;
	font-weight: v.$fw-light;
	line-height: v.$lh;
	color: v.$black;

	@media(min-width: v.$md) {
		font-size: 16px;
	}
}