// Font families.
$ff			: "HelveticaNeueCyr", sans-serif;
$ff-title	: "Didot", sans-serif;
$ff-add	    : "Nicoletta script", sans-serif;

// Font sizes.
$fs-xs	: 12px;
$fs-sm	: 14px;
$fs-md	: 16px;
$fs-lg	: 18px;
$fs-xl	: 20px;

// Font weights.
$fw-light	: 300;
$fw-regular	: 400;
$fw-bold	: 700;

// Line heights.
$lh			: 1.52;
$lh-title	: 1.2;