@use '../../../../../scss/vars/vars.scss' as v;

.hero {
	width: 100%;
	overflow: visible;
	position: relative;

	&-wrapper {
		min-height: 632px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		position: relative;
		padding: 70px 0 20px;

		@media(min-width: v.$md) {
			min-height: 656px;
		}

		&:after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.4);
			z-index: -1;
		}
	}

	.logo-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 25px;
		margin-bottom: 25px;

		@media(min-width: v.$md) {
			gap: 25px;
			margin-bottom: 30px;
		}

		img {
			width: 75px;

			@media(min-width: v.$md) {
				width: 84px;
			}
		}

		p {
			font-family: v.$ff;
			font-size: 13px;
			font-weight: v.$fw-light;
			line-height: 18px;
			text-transform: uppercase;
			letter-spacing: 1px;
			text-align: center;
			color: v.$white;
			max-width: 328px;

			@media(min-width: v.$md) {
				font-size: 15px;
				max-width: 400px;
			}
		}
	}

	h1 {
		color: v.$white;
	}

	&-bg {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		object-fit: cover;
		z-index: -1;
	}

	.scroll-down {
		display: none;
		width: 46px;
		height: 46px;
		border-radius: 50%;
		background-color: v.$white;
		box-shadow: v.$shad;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: -23px;

		&:active {
			transform: translateX(-50%) scale(0.9);
		}

		@media(min-width: v.$md) {
			display: flex;
		}
	}
}