@use '../../../scss/vars/vars' as v;
@use '../../../scss/mixins/text' as t;

.footer {
	padding: 50px 0;

	&-wrapper {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		@media(min-width: v.$md) {
			gap: 135px;
			flex-direction: row;
		}
	}

	&-logo {
		width: 75px;
		height: auto;

		@media(min-width: v.$md) {
			width: 84px;
		}
	}

	&-nav {
		flex: 1;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: space-between;
		gap: 30px;

		@media(min-width: v.$xs) {
			flex-direction: row;
		}

		.menu {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 5px;

			&-item {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 5px;

				&:first-child {
					span {
						margin-bottom: 5px;
						@include t.accentText(sm);

						& {
							line-height: 1;
						}
					}
				}

				a, span, address {
					font-family: v.$ff;
					font-weight: v.$fw-regular;
					font-size: 13px;
					line-height: 152%;
					color: v.$black;
					font-style: normal;

					@media(min-width: v.$md) {
						font-size: 15px;
					}
				}
			}
		}
	}

	&-bottom {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 45px;

		.copyright {
			font-family: v.$ff;
			font-weight: v.$fw-regular;
			font-size: 12px;
			line-height: 152%;
			text-align: center;
		}
	}
}