@use '../../../../scss/mixins/text' as t;
@use '../../../../scss/vars/vars' as v;

.title {
	width: 100%;
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 15px;

	@media(min-width: v.$md) {
		margin-bottom: 20px;
	}

	p {
		margin-left: auto;
		@include t.accentText
	}
}