//libs
@forward "node_modules/swiper/swiper-bundle.min.css";

// Defaults styles.
@forward 'common/fonts';
@forward 'vars/vars';
@forward 'common/typography';
@forward 'common/grid';
@forward 'common/base';

//Mixins
@forward 'mixins/mixins';

// Ui
@forward 'ui/button';

//components
@forward  '../html/template-parts/components/title/title';

//sections
@forward  '../html/template-parts/sections/home/hero/hero';
@forward  '../html/template-parts/sections/home/about/about';
@forward  '../html/template-parts/sections/home/pools/pools';
@forward  '../html/template-parts/sections/home/food/food';
@forward  '../html/template-parts/sections/home/child/child';
@forward  '../html/template-parts/sections/home/slides/slides';

